<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                                    <span class="h2 font-weight-bold mb-0">350,897</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                                    <span class="h2 font-weight-bold mb-0">2,356</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                <span class="text-nowrap">Since last week</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                                    <span class="h2 font-weight-bold mb-0">924</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                <span class="text-nowrap">Since yesterday</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                                    <span class="h2 font-weight-bold mb-0">49,65%</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row animated fadeIn">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">



                                <div class="table-responsive" style="overflow-x: scroll;">
                                    <table class="table table-hover">
                                        <thead style="color: whitesmoke; background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;">
                                            <tr>
                                                <th class=" ">Cedula</th>
                                                <th class=" ">Nombre</th>
                                                <th class=" ">correo</th>
                                                <th class=" ">Telefono</th>
                                                <th class=" ">Departamento</th>

                                                <th class="text-center w-150">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of users">

                                                <td class="">
                                                    {{ item.persona.persona_Id }}
                                                </td>
                                                <td class=" ">
                                                    {{ item.persona.nombre }}
                                                </td>
                                                <td class=" ">
                                                    {{ item.persona.correo }}
                                                </td>
                                                <td class=" ">
                                                    {{ item.persona.telefono }}
                                                </td>
                                                <td class=" ">
                                                    {{ item.departamento.name}}
                                                </td>

                                                <td class="text-center w-150">
                                                    <button type="button" class="btn btn-cyan" data-toggle="tooltip" data-placement="top" title="Detalles de Funcionario" (click)="showUser(item)">
                                                        <i class="material-icons">info</i>
                                                    </button>
                                                    <button type="button" class="btn btn-cyan" data-toggle="tooltip" data-placement="top" title="Editar Funcionario" (click)="editUser(item)">
                                                        <i class="material-icons">update</i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar Funcionario" (click)="deleteUser(item)">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [collectionSize]="users.length" [boundaryLinks]="true" [rotate]="true" [ellipses]="false" [maxSize]="5" [pageSize]="pageSize"></ngb-pagination>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input [(ngModel)]="Persona.nombre" type="text" id="form3" required class="form-control validate" placeholder="Inserte su nombre">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Apellido 1 </label>
                        <input [(ngModel)]="Persona.apellido1" type="text" id="form3" class="form-control validate" placeholder="Inserte su primer apellido">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Apellido 2</label>
                        <input [(ngModel)]="Persona.apellido2" type="text" id="form3" class="form-control validate" placeholder="Inserte su segundo apellido">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Número de Cédula</label>
                        <input [(ngModel)]="Persona.persona_Id" type="text" id="form3" class="form-control validate" placeholder="Inserte su número de cédula">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Correo</label>
                        <input [(ngModel)]="Persona.correo" type="email" id="form3" class="form-control validate" placeholder="Inserte un correo electrónico">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Télefono</label>
                        <input [(ngModel)]="Persona.telefono" type="number" id="form3" class="form-control validate" placeholder="Inserte un número de télefono">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input [(ngModel)]="Usuario.nombre" type="text" id="form3" class="form-control validate" placeholder="Inserte un nombre de usuario">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>contraseña</label>
                        <input [(ngModel)]="passwordRegister" type="password" id="form3" class="form-control validate" placeholder="Inserte una contraseña">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Departamento</label>
                        <select [(ngModel)]="Usuario.departamento.department_Id" class="form-control" required>
                            <option value="-1">-- Seleccione un departamento --</option>
                            <option *ngFor="let item of departmens" [value]="item.department_Id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Rol</label>
                        <select [(ngModel)]="Usuario.rol" class="form-control" required>
                            <option value="-1">-- Seleccione un Rol --</option>
                            <option *ngFor="let item of roles" [value]="item.Role_id">
                                {{ item.Name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<div class="modal-footer justify-content-center modal-footer">
    <a type="button" (click)="inicio()" class="btn  waves-effect" style="background: gray; color:whitesmoke ;">Cancelar<i class="fas fa-paper-plane-o ml-1"></i></a>
    <a type="button" (click)="registrarse()" class="btn  waves-effect" style="background: #5c7e10; color:whitesmoke ;">Enviar<i class="fas fa-paper-plane-o ml-1"></i></a>
</div>