<div class="header   pt-5 pt-md-7"   style="background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;" >
  <div class="container-fluid">
    <div class="header-body">
   
    </div>
  </div>
</div>

<br>

<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row"> 
          <div class="col-md-6">
            <h5 class="card-title text-uppercase text-muted mb-0">Título</h5>
            <input name="titulo" [(ngModel)]="filtro" (keyup)="GetAllNews()" type="text" class="form-control "
              placeholder="buscar por título">
          </div>
        
          <div class="col-md-6">
            <h5 class="card-title text-uppercase text-muted mb-0">Fecha de caducidad</h5>
            <input name="desde" [(ngModel)]="hasta" (change)="GetAllNews()" type="date" class="form-control ">
          </div>
     
        </div>
      
        

      </div>
    </div>
  </div>
</div>

<br>

<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">



        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr style="color: whitesmoke; background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;">
                <th class="text-center">#</th>
                <th class="text-center">Título</th>
                <th class="text-center">Fecha de caducidad</th> 
                <th class="text-center">Estado</th> 
                <th class="text-center w-150">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listNews | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td class="text-center ">
                  {{ item.new_id }}
                </td>
                <td class="text-center ">
                  {{ item.titulo }}
                </td>
                <td class="text-center ">
                  {{ item.expired | date:'yyyy-MM-dd' }}
                </td>
                <td class="text-center ">
                  {{ item.Active ? 'Activo' : 'Inactivo'  }}
                </td>



                <td class="text-center w-150">
                  <button type="button" class="btn btn-cyan" (click)="open2(modaldetails,item)">
                    <i class="material-icons">info</i>
                  </button>
                  <button type="button" class="btn btn-cyan" (click)="EditNew(item)">
                    <i class="material-icons">update</i>
                  </button>
                  <button type="button" class="btn btn-danger" (click)="deletenew(item)">
                    <i class="material-icons">delete</i>
                  </button>
                </td>

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <ngb-pagination class="d-flex justify-content-center" [(page)]="page"
                    [collectionSize]="listNews.length" [boundaryLinks]="true" [rotate]="true" [ellipses]="false"
                    [maxSize]="5" [pageSize]="pageSize"></ngb-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<br>

<div class="row animated fadeIn" id="titulo">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar(f)" class="form-login">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Título</label>
              <input [(ngModel)]="Noticia.titulo" name="titulo" type="text" class="form-control validate"
                placeholder="Título" required>

            </div>

            <div class="form-group col-md-4">
              <label>Fecha de caducidad</label><br>
              <input [(ngModel)]="Noticia.expired" name="expired" type="date" class="form-control validate"
                placeholder="Título" required>
            </div>

            <div class="form-group col-md-4">
              <label>Escoger foto</label><br>
              <button (click)="open(mymodal)" type="button" class="btn btn-cyan" [disabled]="ingresando">
                <i class="material-icons">photo</i> Agregar
              </button>
            </div>


          </div>


          <div class="row">
            <div class="form-group col-md-4">
              <label>Activo</label>
              <select [(ngModel)]="Noticia.Active" name="activo" class="form-control">
                  <option value="false">NO</option>
                  <option value="true">SI</option>
              </select>
          </div>

          </div>


         



          <div class="row">
            <div class="form-group col-md-12">
              <label>Descripción</label>
              <textarea [(ngModel)]="Noticia.descripcion" name="descripcion" class="form-control validate" required>

                        </textarea>
            </div>

          </div>

          <div class="float-right">

            <button type="submit" class="btn btn-success" [disabled]="ingresando">
              <i class="material-icons">save</i> Guardar

            </button>


            <button type="button" (click)="inicio()" class="btn btn-secondary" [disabled]="ingresando">Cancelar</button>

          </div>
        </form>
      </div>
    </div>
  </div>



</div>


<!--agregar photo-->
<ng-template #mymodal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalScrollableTitle">Seleccione una foto</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <input type='file' (change)="readUrl($event)">
      <img id='Img1' [src]="Noticia.fileToUpload">


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="GuardarFotos()   "  (click)="modal.dismiss('Cross click')">Aceptar</button>
    </div>
  </div>

</ng-template>


<!-- news details -->
<ng-template #modaldetails let-modal >

      <div class="modal-content">
          <div class="modal-header text-center">
              <h1 class="modal-title white-text text-left w-100 font-weight-bold py-2">Detalle de la noticia</h1>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">


          
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h2>Descripción</h2>
                     <h4>{{descripcion}} </h4>
                  </div>
              </div>
              <br><br>
              <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>Imagen ilustrativa</h2><br>
                      <img id='Img1' [src]="fileToUpload">
                  </div>

              </div>


              
          </div>
          

          <div class="modal-footer">
              <button type="button" class="btn btn-secondary"   (click)="modal.dismiss('Cross click')" >Cerrar</button>
          </div>
      </div>

</ng-template>