<div class="header   pt-5 pt-md-7"   style="background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;" >
  <div class="container-fluid">
    <div class="header-body">
   
    </div>
  </div>
</div>

<br>

<div class="row animated fadeIn">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

              <div class="input-group">

                  <input [(ngModel)]="filter" name="filter" (keyup)="list()" type="text"
                      class="form-control" placeholder="Buscar por el nombre del departamento...">

                  <div class="input-group-append">
                      <button (click)="clearfilter()" class="btn btn-outline-danger no-border" type="button">
                          <i class="material-icons">cancel</i>
                      </button>
                  </div>

              </div>

          </div>
      </div>
  </div>
</div>

<br>
  <div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row animated fadeIn">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">



                                <div class="table-responsive" style="overflow-x: scroll;">
                                    <table class="table table-hover">
                                        <thead
                                            style="color: whitesmoke; background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;">
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Nombre</th>
                                                <th class="text-center">Encargado del departamento</th>

                                                <th class="text-center w-150">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of departmens | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                                                <td  class="text-center">
                                                    {{ item.department_Id }}
                                                </td>
                                                <td class=" text-center">
                                                    {{ item.name }}
                                                </td>
                                                <td class="text-center ">
                                                    {{ item.personname }}
                                                </td>
                                             

                                                <td class="text-center w-150">
                                                    <button type="button" class="btn btn-cyan"
                                                        (click)="EditDepartment(item)">
                                                        <i class="material-icons">update</i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="delete(item)">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <ngb-pagination class="d-flex justify-content-center" [(page)]="page"
                                                      [collectionSize]="departmens.length" [boundaryLinks]="true" [rotate]="true" [ellipses]="false"
                                                      [maxSize]="5" [pageSize]="pageSize"></ngb-pagination>
                                                  </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br>

<div class="row animated fadeIn" id="titulo">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Nombre del departamento</label>
                        <input [(ngModel)]="department.name" name="name" type="text" class="form-control"
                            placeholder="Insertar departamento"  required>
                    </div>
                    <div class="col-md-6">
                        <label>Funcionario</label>
                        <div class="input-group">
                            <input [(ngModel)]="Funcio.nombre" name="employee" type="text" class="form-control"
                                placeholder="Insertar funcionario"  required disabled>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" (click)="open(mymodal)">
                                    <i class="material-icons">search</i>
                                </button>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="float-right">
                    <button type="submit" class="btn btn-success" (click)="enviar()" [disabled]="guardando">
                        <i class="material-icons">save</i> Guardar
                    </button>

                    <button (click)="inicio()" type="button" class="btn btn-secondary" [disabled]="cancelando">
                        <i class="material-icons">clear</i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--funcionario modal  -->

<ng-template #mymodal let-modal>
 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Clientes</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="FormValidation">
                    <div class="alert alert-danger" role="alert">
                        {{ErrorMessage}}
                    </div>
                </div>

                <div class="input-group " style="margin-bottom: 16px;">
                    <input [(ngModel)]="criterio" name="criterio" (keyup)="cargarClientes()" type="text"
                        class="form-control" placeholder="Nombre del funcionario...">
                    <div class="input-group-append">
                        <button (click)="limpiaCriterio()" class="btn btn-outline-danger no-border" type="button">
                            <i class="material-icons">cancel</i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive" style="height: 24rem !important; overflow: scroll;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Apellido1</th>
                                <th class="text-center">Apellido2</th>
                                <th class="text-center">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of funcionarios">
                                <td class="text-center">
                                    {{ item.nombre }}
                                </td>
                                <td class="text-center">
                                    {{ item.apellido1 }}
                                </td>
                                <td class="text-center">
                                    {{ item.apellido2 }}
                                </td>


                                <td class="text-center">
                                    <button type="button" class="btn btn-cyan" (click)="agregarFuncionario(item)">
                                        <i class="material-icons">add</i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    
</ng-template>