<div class="header   pt-5 pt-md-7" style="background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>

<br>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-3">
                        <h5 class="card-title text-uppercase text-muted mb-0">Desde</h5>
                        <input name="desde" [(ngModel)]="desde" type="date" class="form-control ">
                    </div>



                    <div class="col-md-3">
                        <h5 class="card-title text-uppercase text-muted mb-0">Hasta</h5>
                        <input name="hasta" [(ngModel)]="hasta" (change)="CargaDenounces()" type="date"
                            class="form-control ">
                    </div>


                    <div class="col-md-3">
                        <h5 class="card-title text-uppercase text-muted mb-0">Estado</h5>
                        <select [(ngModel)]="Denouncestate" (change)="CargaDenounces()" class="form-control" required>
                            <option value="-1">-- TODOS --</option>
                            <option value="Pendiente"> Pendiente </option>
                            <option value="En proceso"> En proceso </option>
                            <option value="Procesada">Procesada </option>
                        </select>
                    </div>


                    <div class="col-md-3">
                        <h5 class="card-title text-uppercase text-muted mb-0">Departamento</h5>
                        <select [(ngModel)]="departmentid_Filter" (change)="CargaDenounces()" class="form-control"
                            required>
                            <option value="-1">-- TODOS --</option>
                            <option *ngFor="let item of departmens" [value]="item.name">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


<br>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead
                            style="color: whitesmoke; background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Departamento</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center w-150">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of denuncias | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <td class="text-center">
                                    {{ item.Denounces_id }}
                                </td>

                                <td class="text-center">
                                    {{ item.DepartmentName }}
                                </td>
                                <td class="text-center">
                                    {{ item.state }}
                                </td>
                                <td class="text-center w-150">
                                    <button type="button" class="btn btn-cyan" (click)="open2(denouncesdatail,item)">
                                        <i class="material-icons">info</i>
                                    </button>
                                    <button type="button" class="btn btn-cyan" (click)="EditDenounce(item)">
                                        <i class="material-icons">update</i>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="deleteDenounce(item)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ngb-pagination class="d-flex justify-content-center" [(page)]="page"
                                        [collectionSize]="denuncias.length" [boundaryLinks]="true" [rotate]="true"
                                        [ellipses]="false" [maxSize]="5" [pageSize]="pageSize"></ngb-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<br>

<div class="row animated fadeIn" id="titulo">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Departamento</label>
                        <select [(ngModel)]="denuncia.Department_Id" (change)="capturar()" class="form-control"
                            required>
                            <option value="-1">-- Seleccione un departamento --</option>
                            <option *ngFor="let item of departmens" [value]="item.department_Id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>


                    <div class="form-group col-md-2">
                        <label>Escoger foto</label><br>
                        <button (click)="open(mymodal)" type="button" class="btn btn-cyan" [disabled]="guardando">
                            <i class="material-icons">photo</i> Agregar
                        </button>
                    </div>


                </div>


                <div class="row">


                    <div class=" form-group col-md-12">
                        <label>Seleccióne la ubicación</label>
                        <div #mapContainer id="map"></div>
                    </div>



                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Descripción</label>
                        <textarea [(ngModel)]="denuncia.Description" class="form-control" required>

                      </textarea>
                    </div>

                </div>

                <div class="float-right">
                    <button type="button" (click)="save()" class="btn btn-success" [disabled]="guardando">
                        <i class="material-icons">save</i> Guardar
                    </button>

                    <button (click)="start()" type="button" class="btn btn-secondary" [disabled]="cancelando">
                        <i class="material-icons">clear</i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>









<!--agregar photo-->
<ng-template #mymodal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Seleccione una foto</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <input type='file' (change)="readUrl($event)">
            <img id='Img1' [src]="denuncia.Photo">


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Aceptar</button>
        </div>
    </div>

</ng-template>




<!--agregar UBICACION-->
<ng-template #mymodalLocation let-modal>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">UBICACION</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class=" ">

            <div class="table-responsive">
                <div style=" height: 20rem !important; overflow: scroll; align-content: center;">


                    <div #mapContainer id="map"></div>


                </div>


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Aceptar</button>
        </div>
    </div>

</ng-template>



<ng-template #denouncesdatail let-modal>

    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2 text-left">Detalle de la denuncia</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">



        <div class="row">
          <div class="form-group col-md-12 text-center">
            <h3>Descripción</h3>
            <h5 >
                {{denuncia.Description}}
            </h5>
          </div>
        </div>


        <div class="row">
          <div class="form-group col-md-12 text-center">
            <h3>Respuesta</h3>
            <h5 >
              {{Answer}}
            </h5>
          </div>
        </div>



      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cerrar</button>
      </div>
    </div>

</ng-template>
